*{
  margin:0;
  padding:0
}
.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

img .imgclass{
    width: 100%;
    height: auto;
}

/*
pre, code {
    font-family: monospace, monospace;
  }
  pre {
    overflow: auto;
    padding:0;
    margin:0;
  }
  pre > code {
    display: block;
    padding: -5px;
    margin:-5px;
    word-wrap: normal;
  }

  pre, code{
    direction: ltr;
    text-align: left;
  }
  pre {border: solid 0px blue;
    font-size: 1 em; 
     color: blue; 
    margin: -1px; 
    padding:-1px; 
    background: #FFFFB3;
  }
  */
  code {font-size:1em; 
    color: #008099}

    .navBardemoBasicUsage md-content .ext-content {
      padding: 50px;
      margin: 20px;
      background-color: #FFF2E0; }

      pre {
        background: #f4f4f4;
        border: 1px solid #ddd;
        border-left: 3px solid #f36d33;
        color: #666;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        max-width: 100%;
        overflow: auto;
        padding: 1.5em 0.1em 0.1em;
        display: block;
        word-wrap: break-word;
    }      