<!DOCTYPE html>
<html lang="en">

<head>
    <title>SplashTI2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="css/stylesheet.css"></link>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        

    </style>
</head>

<body ng-app="SplashApp" layout="column" layout-fill ng-cloak  ng-controller="MainController">
    <!--
    Your HTML content here
  -->
    <!-- TEST {{1+1}} -->
    <main flex>
    <md-content style="margin:0px;padding:0" class="md-padding" md-colors="{color: 'primary',background: 'orange-100-0.05'}" layout-fill>
            <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto('Home')" name="Home" id="home">Home</md-nav-item>
            <!-- <md-nav-item md-nav-click="goto('page2')" name="page2" ng-disabled="secondTabDisabled">
                    Page Two
                </md-nav-item>  -->

                
                <md-nav-item md-nav-click="goto('Documentation')" name="Documentation" ng-disabled="true" id="documentation">Documentation</md-nav-item>
                <md-nav-item md-nav-click="goto('Downloads')" name="Downloads" ng-disabled="true" id="downloads"> Downloads </md-nav-item>

                <!-- these require actual routing with ui-router or ng-route, so they
                        won't work in the demo
                        <md-nav-item md-nav-href="#page4" name="page5">Page Four</md-nav-item>
                        <md-nav-item md-nav-sref="app.page5" name="page4">Page Five</md-nav-item>
                        You can also add options for the <code>ui-sref-opts</code> attribute.
                        <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
                          Page Six
                        </md-nav-item>
                        -->
            </md-nav-bar>
           <!-- <span>{{status}}</span> -->
           <!-- <div class="ext-content" ng-show="currentNavItem=='Home'">
                <ng-include src="'app/html/home.html'"></ng-include>
            </div> -->
            <div ng-repeat="page in data.content.data.pages" style="margin:10px">
                 <div ng-if="currentNavItem==page.name">
                        <ng-include src="page.link"></ng-include>
                 </div>    
            </div>


          <!--  <div class="ext-content" ng-show="currentNavItem=='Documentation">    
                    <p>Comming soon....d</p> 
            </div>    -->
            <!--<div class="ext-content" ng-show="currentNavItem=='Downloads'">
                       <p>Comming soon....dd</p> 
            </div>   --> 
          <!--  <md-checkbox ng-model="disableInkBar">Disable Ink Bar</md-checkbox>
            
            <md-checkbox ng-model="secondTabDisabled" aria-label="Disable Second Tab" style="margin: 5px;">
                Disable Second Tab
            </md-checkbox> -->
        
        
    </md-content>
   </main>
    <footer style="margin:0;padding:0" >
            <md-toolbar style="margin:0;padding:0" class="md-scroll-shrink" md-colors="{color: 'primary',background: 'orange-100-0.06'}">
              <div style="margin:0;padding:0" layout="row" layout-align="center center" flex>
                <a style="font-size:10px">Code licensed under the Apachi 2.0. Contacts: Splashti2@gmail.com</a>
              </div>
            </md-toolbar>
    </footer>
    
   <!-- <md-toolbar color='primary'>
            <span class='spacer'></span>
              <h3>© Copyright Angular Apps 2017.</h3>
            <span class='spacer'></span>
          </md-toolbar> -->
      
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="app/js/main.js"></script>
    <!-- Your application bootstrap  -->
    <!-- <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('BlankApp', ['ngMaterial', 'ngMessages']);
  </script> -->
    <script type="text/javascript">
  //     var app = angular.module('SplashApp', ['ngMaterial', 'ngMessages']);



    </script>
</body>

</html>

<!--
Copyright 2016-2018 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://material.angularjs.org/latest/license.
-->